.picgrp{
    height: 223px;
    width: 100%;
}

.card-deck{
    /* flex-wrap: nowrap; */
    flex-direction: row;
}

@media only screen and (max-width: 1024px) {
    .card-deck{
        width: 80%;
    }
    img.card-img-top.picgrp {
        height: 144px;
    }
    .card-title.h5 {
        font-size: 12px;
    }
 
    p.titlesection {
        font-size: x-large;
    }
  }

  @media only screen and (max-width: 768px) {
    .card-deck{
        width: 80%;
        height: 200px;
    }
    img.card-img-top.picgrp {
        height: 120px;
    }
    .card-title.h5 {
        font-size: 12px;
    }
 
    p.titlesection {
        font-size: x-large;
    }

}

  @media only screen and (max-width: 540px) {
    .card-deck{
        width: 20%;
        height: 50px;
    }
    img.card-img-top.picgrp {
        height: 50px;
    }

 .card-deck {
    width: min-content;
}

.card-deck {
    width: 100%;height: 200px;
    display: contents;
}

.card {
    width: 100px;
}
.card {
    height: 81px;
}
.card-title.h5 {width: max-content;}
 

.card-title.h5 {
    font-size: xx-small;
    width: auto;
    padding-top: unset;
}

.card {
    height: 101px;
}

p.titlesection {
    font-size: medium;
}
  }


  @media only screen and (max-width: 320px) {
    .card-deck{
        width: 10%;
        height: 200px;
    }}