@import url('https://fonts.googleapis.com/css2?family=Nunito&display=swap');
.titlesection{
    font-family: 'Nunito', sans-serif;
}
.circlesecwrap{
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    justify-content: center;
    justify-content: space-evenly;
} 
.c1{
    border:5px solid white;
    border-radius: 50%;
    box-shadow: 3px 3px 20px grey;
    width: 200px;
    height: 200px;
}
.titlecenter{
    width: fit-content;
    margin-bottom: 3%;
    border-bottom: 2px solid darkslategray;
    transition: all .2s ease-in-out;
    font-family: 'Nunito', sans-serif;
}
.titlecenter:hover{
    transform: scale(1.1);
}
.cap{
    width: max-content;
    font-size: xx-small;
    width: auto;
    padding-top: unset;
}
figcaption.seccap{
    padding-top: 5%;
}

@media only screen and (max-width: 1024px) {
    .c1{
        border:4px solid white;
        width: 155px;
        height: 155px;
    }
}

@media only screen and (max-width: 768px) {
    .c1{
        border:4px solid white;
        width: 125px;
        height: 125px;
    }
}


@media only screen and (max-width: 540px) {
    .c1{
        border:3px solid white;
        width: 85px;
        height: 85px;
    }
    .titlesection {
        font-size: unset;
    }
}


@media only screen and (max-width: 320px) {
    .c1{
        border:2px solid white;
        width: 80px;
        height: 80px;
    }
}

.seccap{
    font-family: 'Mali', cursive;
}

@media only screen and (max-width: 320px) {
   .seccap{
font-size:x-small
   }
}


@media only screen and (min-width: 321px) and (max-width: 540px) {
    .seccap{
font-size:small
    }
}
@media only screen and (min-width: 541px) and (max-width: 768px) {
    .seccap{
font-size:large
    }
}

@media only screen and (min-width: 769px)  {
    .seccap{
font-size:x-large
    }
}
