@import url('https://fonts.googleapis.com/css2?family=Mali:wght@300&display=swap');

.section{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    background: #f6f5eb ;
    padding-bottom: 2%;
}
.titlesection{
    width: 100%;
    display:block;
    text-align: center;
    font-size: xx-large;
    font-family: 'Mali', cursive;
    padding: 2%;
    font-weight: bolder;
    color: green;
}

.card {
    box-shadow: 3px 3px 20px grey;
    border-radius: 2%;
}
.card-title.h5{
    font-family: 'Mali', cursive;
}